* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    background-color: #FFFFFF;
    color: #333333;
    padding: 0;
}

header {
    background-color: #9FC6D1;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

header h1 {
    font-size: 2.5rem;
    color: #0A2DC4;
}

header p {
    font-size: 1.2rem;
    color: #05326D;
}

nav {
    background-color: #0A2DC4;
    padding: 15px 12px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #FFDD57;
}

main {
    background-color: #FFFFFF;
	text-align: center;
    padding: 10px;
    border-radius: 12px;
	margin-bottom: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

main h2 {
    color: #0A2DC4;
    margin-bottom: 15px;
}

main h4 {
	color: #0A2DC4;
    margin-bottom: 8px;
}

main p {
    font-size: 1rem;
    line-height: 1.6;
	margin-bottom: 15px;
}

dl {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-size: 1rem;
}

dt {
    font-weight: bold;
    color: #0A2DC4;
    margin-top: 10px;
}

dd {
    margin-left: 15px;
    color: #333;
}

.intro-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    margin: 30px auto;
    padding: 20px;
    max-width: 1300px; 
    width: 100%;
}

.featured-left-background {
    height: 620px;
    width: auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    flex-shrink: 0;
    object-fit: cover;
}

.featured-right-background {
	width: 300px;
    height: auto;
	margin-top: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    flex-shrink: 0;
}

.featured-left-cuisine {
    height: auto;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    flex-shrink: 0;
    object-fit: cover;
}

.featured-right-cuisine {
	width: 500px;
    height: auto;
	margin-top: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    flex-shrink: 0;
}

.right-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.intro-text {
    flex: 1;
    max-width: 750px;   
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
	margin: 30px auto;
}

.intro-text2 {
    flex: 1;
    max-width: 1000px;   
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
	margin: 30px auto;
}

.image-wrapper {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.below-image {
    width: 300px;
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.movie-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    margin: 30px auto;
    max-width: 1300px;
    width: 100%;
    padding: 20px;
}

.movie-main {
    text-align: left;
    flex: 1;
}

.book-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    margin: 30px auto;
    max-width: 1300px;
    width: 100%;
    padding: 20px;
}

.book-main {
    text-align: left;
    flex: 1;
}
.container {
	max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}